.blog{
  @include section-padding;
  padding-top: $padding*5;
  padding-bottom: $padding*5;
  background-color: rgb(176, 124, 247);
  color: whitesmoke;
  .header--big{
    font-weight: lighter;
    text-align: center;
  }
  .text{
    width: 50vw;
    text-align: center;
    font-weight: lighter;
    margin: $margin auto;
  }

  &_container{
    display: flex;
    justify-content: space-evenly;
    padding: $padding;
    .blog_post{
      position: relative;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 1%;
      transition: all 1s;
      &--1{
        background: url('./background/blog1.png') no-repeat center center;
        background-size: cover;
      }
      &--2{
        background: url('./background/blog2.png') no-repeat center center;
        background-size: cover;
      }
      &--3{
        background: url('./background/blog3.png') no-repeat center center;
        background-size: cover;
      }

      &-date{
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        padding: 0.5rem;
        top: 2.5vw;
        left: 2.5vw;
        border-radius: 5%;
        background-color: rgba(68, 67, 67, 0.5);
        text-align: center;
        span{
          font-size: 2rem;
        }
      }
      &-text{
        position: absolute;
        bottom: 0;
        height: 50%;
        width: 100%;
        background-image: linear-gradient(rgba(255, 255, 255, 0),rgb(0, 0, 0));
        p{
          padding: 4vw 10% 0 10%;
          transition: all 1s;
        }
        .text--small{
          padding-top: 1vh;
        }
      }  
    }
    @include respond-to('small') {
      flex-direction: column;
      align-items: center;
      .blog_post{
        height: 40vw;
        width: 60vw;
        margin-bottom: $margin;
        &-text{
          p{
            padding: 4vw 10% 0 10%;
            width: 50vw;
          }
          .text--small{
            padding-top: 1vh;
          }
        }  
        &:hover{
          height: 45vw;
          width: 65vw;
          .blog_post-text{
            p{
            font-size: $text*1.25;
            width: 55vw;
            }
            .text--small{
              font-size: $small-text*1.25;
            }
          }
         } 
      }
    }
    @include respond-to('large') {
      flex-direction: row;
      .blog_post{
        height: 20vw;
        width: 20vw;
        &-text{
          p{
            padding: 4vw 10% 0 10%;
            width: 15vw;
          }
          .text--small{
            padding-top: 1vh;
          }
        }  
        &:hover{
          height: 25vw;
          width: 25vw;
          .blog_post-text{
            p{
            font-size: $text*1.25;
            width: 20vw;
            }
            .text--small{
              font-size: $small-text*1.25;
            }
          }
         } 
      }
    }
  }

  &_btn-container{
    display: flex;
    justify-content: center;
  }

  &_btn{
    @include btn;
    background-color:rgb(247, 43, 59);
    margin-top: 5vh;
    margin-bottom: 5vh;
    &:hover{
      background-color:rgb(119, 23, 31);
    }
  }

}